################################################################################
################################################################################
/caesarChipher/.vs/caesarChipher/v16
/caesarChipher/Debug
/game/Debug
/game/.vs/game/v16
/game/x64/Debug/game.tlog
/theatre/.vs/theatre
/theatre/theatre/x64/Debug
/theatre/x64/Debug
/library/.vs/library
/library/library/x64/Debug
/library/x64/Debug
/Classes/.vs
/Classes/Debug
/Classes/x64/Debug
/School/School/x64/Debug
/School/.vs/School
/School/.vs
/PZ_22/wendingMachine/.vs/wendingMachine
/wending_machine/x64/Debug
/.vs
/wending_machine/.vs/wending_machine
/wending_machine/wending_machine/x64/Debug
/PZ_22_human/.vs/PZ_22_human
/PZ_22_human/PZ_22_human/x64/Debug
/PZ_22_human/x64/Debug
/PZ_22/PZ_22_2/.vs/PZ_22_2
/PZ_22/PZ_22_2/PZ_22_2/x64/Debug
/PZ_22/PZ_22_2/x64/Debug
/PZ_22/wendingMachine/wendingMachine/x64/Debug
