################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/caesarChipher/.vs/caesarChipher/v16
/caesarChipher/Debug
